@import url("https://fonts.googleapis.com/css?family=Hanuman");
@import 'front/style';

body {
    font-family: Calibri,Hanuman, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #eee;
}
html,body{
    height: 100%;
}

$light-blue: #0c4ca2 !important;
$color: #0c4ca2 !important;

$light-primary: #d94375 !important;

a{
    color: #0c4ca2;
}

ul {
    margin:0;
    padding:0px;
    list-style:none;
}

#app{
    height: 100%;
}

.sticky-top{
    position: fixed;
    width: 100%;
}

main{
    min-height: calc(100% - 160px);
    margin-top: 64px;
}

main.live{
    min-height: 100%;
    margin-top: auto;
}

.title{
    margin: 0;
    font-weight: 100;
    line-height: 1.2;
    font-size: 2.2rem;
    margin-bottom: 32px;
    color: #000;
    position: relative;

    &:after {
      content: " ";
      width: 52px;
      height: 3px;
      background: #d94375;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
}


.navbar-custom {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    .dropdown{
        &.dropdown-category{
            position: initial;

            .dropdown-menu{
                &.show{
                    width: 100%;
                    padding: .5rem;
                }
            }
        }
    }
    .menu-category{
        height: 315px;
        overflow: auto;

        li{
            width: 20%;
            float: left;
            display: block; 

            span{
                font-weight: bold;
                font-size: 18px;
            }

            .sub-category{
                margin-top: 1rem;

                li{
                    width: 100%;
                    padding-bottom: 1rem;

                    &:last-child{
                        padding-bottom: 0;
                    }
                }
            }
        }
        &:after{
            clear: both;
            display: table;
            content: "";
        }

        + div{
            border-top: 1px solid #ddd;
            padding-top: 3px;
        }
    }

    .container{
        position: relative;
    }
}

.navbar-light .navbar-nav .nav-link{
    color: $light-blue;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: #d94375 !important;
}

.menu-auth {
    li {
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        padding-right: 5px;

        &.profile{
            .nav-link{
                padding: 0;

                .img-profile{
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #999999; 
                    background-color: $white;
                }
            }
        }
    }
}

.shop-owner-profile{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #999999;
    background-color: $white; 
}

.menu-auth .nav-link,
.menu-auth li .btn-sm{
    padding: .25rem .8rem;
}
.menu-auth li .btn-sm {
    border-radius: 25rem;
}

.header{
	background: $white;
}
.navbar-brand{
    position: relative;
    .beta{
        display: block;
        position: absolute;
        top: 0;
        right: -20px;
        font-size: 10px;
    }
}

.top-search{
    .form-control{
        border-radius: 25rem;

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .input-group-text{
        &:last-child{
            border-top-right-radius: 25rem !important;
            border-bottom-right-radius: 25rem !important;
        }
    }
    &.input-group{
        position: initial;
    }
}

.welcome{
    font-size: 25px;
    font-weight: bold;
}

.logo-table{
    display: table;
    
    .logo-row{
        display: table-row;
        .logo-cell{
            display: table-cell;
            vertical-align: middle;
            color: $color;
            font-size: 12px;

            .logo-main{
                font-size: 40px;
                line-height: 40px;
                font-weight: bold;
            }

            .logo-top{
                font-size: 20px;
                line-height: 20px;
            }
            .logo-bottom{
                font-size: 9.2px;
                line-height: 9.2px;
                padding-left: 2px;
            }
        }
    }
}


.record-table{
    display: table;
    width: 100%;
    height: 300px;
    
    .record-row{
        display: table-row;
        .record-cell{
            display: table-cell;
            vertical-align: middle;
            font-size: 20px;
        }
    }
}


#main-name-card{
    .card-category{
        padding: 0;
        position: relative;
        padding-bottom: 43px;

        .list-categories{
            height: 301px;
            overflow: hidden;
        }
        .list-categories a{
            position: relative;
            display: block;
            padding: 10px 15px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            text-decoration: none;
        }

        input {
            display: none;
        }
        label{
            position: absolute;
            bottom: 1px;
            padding: 9px 15px;
            display: block;
            background-color: #fff;
            margin: 0 auto;
            cursor: pointer;
            color: $color;
        }
        label:after {
            content: "+ Show More";
        }
        input:checked + label:after {
            content: "- Show Less";
        }
        input:checked ~ .list-categories {
            height: 100%;
        }

        /*
        .list-categories a:last-child{
            border-bottom-left-radius: .25rem; 
            border-bottom-right-radius: .25rem;
            border-bottom: 0; 
        }
        */

        .list-categories a:hover{
            background-color: #f7f7f7;
        }

        .list-categories a.active{
            background-color: $light-blue;
            color: #fff !important;
        }

        .list-categories a .badge {
            float: right;
        }
        .badge-pill {
            padding-right: .8em;
            padding-left: .8em;
            padding-top: .3em;
            border-radius: 10rem;
            padding-bottom: .4em;
        }

        .badge-secondary{
            background-color: $color;
        }
    }
}
.card{
    /*border-color: $light-blue;*/

    .card-header{
        padding-left: 15px;
        padding-right: 15px;

        h3{
            margin: 0;
            font-size: 1.5rem;
            color: $light-primary;

            &.menu-profile-title{
                font-size: 1rem;
            }

            &.text-black{
                color: #636b6f !important;
            }
        }
    }

    .account-profile{
        padding: 0;
        .menu a{
            position: relative;
            display: block;
            padding: 10px 15px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            text-decoration: none;
        }
        .menu a:last-child{
            border-bottom-left-radius: .25rem; 
            border-bottom-right-radius: .25rem;
            border-bottom: 0; 
        }

        .menu a:hover{
            background-color: #f7f7f7;
        }

        .menu a.active{
            background-color: $light-blue;
            color: #fff !important;
        }
    }
}

.related-product{
    .card{
        .card-cover-image{
            max-height: 180px; 
            overflow: hidden;
        }

        .card-body{
            height: 60px;
        }
    }
}

.width-20px{
    width: 20px;
}

.width-40px{
    width: 40px;
}

.width-45px{
    width: 45px;
}

.width-70px{
    width: 70px;
}

.width-80px{
    width: 80px;
}

.width-85px{
    width: 85px;
}

.width-100px{
    width: 100px;
}

.width-120px{
    width: 120px;
}

.width-155px{
    width: 155px;
}

.width-180px{
    width: 180px;
}

/**
* Fiel preview
*/

.drag-and-drop{
    z-index:1;
    min-height: 275px;
    border: 1px solid #e2e2e2;
    overflow: auto;
    display: block;
    position: relative;
}

.drag-and-drop:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 50%;
    margin-top: -10px;
    color: #ccc;
}
.drag-and-drop{
    .dad-loading {
        height: inherit;
        width: auto;
        background: #fff url(../images/loading.gif) no-repeat center;
        z-index: 99;
        cursor: wait;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

.file-preview-frame {
    position: relative;
    display: block;
    margin: 8px;
    /*border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 1px;*/
    float: left;
    text-align: center;
    /*width: calc(25% - 16px);*/
    width: 90px;
    z-index: 2;
    height: 110px;

    .remove {
        width: 16px;
        height: 16px;
        position: absolute;
        top: -5px;
        right: -5px;
        display: block;
        z-index: 999;
        padding: 5px;
        background: url(../images/remove.png) no-repeat center;
        cursor: pointer;
    }

    .loading {
        height: inherit;
        width: auto;
        background: #fff url(../images/loading.gif) no-repeat center;
        z-index: 99;
        cursor: wait;
    }

    .browse{
        height: 100%;
        width: auto;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: #e6e6e6;
    }

    .img{
        overflow: hidden;
        height: inherit;
        width: inherit;
        border: 1px solid #ddd;

        .img-preview{
            height: inherit;
            width: inherit;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            background: #fff;
        }

        img{
            max-width: 100%;
        }
    }
}

#browse-file{
    position: relative;
    display: block;
    width: 130px;
    height: 150px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 3px;
    text-align: center;
    z-index: 2;

    .preview-content{
        height: 115px;
        overflow: hidden;
        margin-bottom: 5px;
        background: transparent;
    }
}

#browse-file:after{
    content: 'Browser file...';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    display: table;
}

/**
* Card
*/

.card-body{
    &.write-product{
        padding: 10px;
    }

    &.product{
        padding: 10px;
        .d-inline-block{
            vertical-align: middle;
        }
        .user-profile{
            img{
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
            }
        }

        .product-title{
            font-size: 18px;
        }

        .product-time{
            font-size: 12px;
        }

        .dotted{
            font-size: 10px;
        }
        .product-content{
            p{
                &.see-more{
                    display: inline-block;
                }
                
                &:last-child{
                    margin-bottom: 0;
                }
            }

            .text-exposed-hide{
                display: inline;
            }
            .text-exposed-show{
                display: none;
            }

            &.active{
                .text-exposed-hide{
                    display: none;
                }
                .text-exposed-show{
                    display: inline;
                }

                .btn-product-see-more{
                    display: none;
                }
            }
        }

        .product-actions{
            .nav-link{
                padding: 1px 0;

                &:after{
                    display: none;
                }
            }
            .dropdown-menu{
                margin: 0;
                padding: 0;
            }
            .dropdown-divider{
                margin:0;
            }
        }

        .product-image{
            img{
                max-width: 100%;
                width: 100%;
            }
        }

        .product-like{
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #ddd;

            .btn-secondary {
                color: #000 !important;
                background-color: transparent;
                border-color: #ccc;
                -webkit-box-shadow: 0 0 6px 1px #999;
                box-shadow: 0 0 6px 1px #999;
            }
            .btn-sm{
                padding: 5px 5px;
                font-size: 11px;
                line-height: 12px;
            }
        }
    }
}

.text-promotion{
    color: $light-primary;
}

.product-detail{
    .product-title{
        font-size: 18px;
    }

    .product-time{
        font-size: 12px;
    }

    .dotted{
        font-size: 10px;
    }
    .product-content{
        p{
            &.see-more{
                display: inline-block;
            }
            
            &:last-child{
                margin-bottom: 0;
            }
        }

        .text-exposed-hide{
            display: inline;
        }
        .text-exposed-show{
            display: none;
        }

        &.active{
            .text-exposed-hide{
                display: none;
            }
            .text-exposed-show{
                display: inline;
            }

            .btn-product-see-more{
                display: none;
            }
        }
    }
}

$col-width: 17em;
.make-columns{
    -moz-column-width: $col-width;
    -webkit-column-width: $col-width;
    column-width: $col-width;

    /*space of column*/
    -moz-column-gap: .2em;
    -webkit-column-gap: .2em;
    column-gap: .2em;

    margin-right: -.2rem;
    margin-left: -.2rem;

    &:before,
    &:after{
        display: table;
        content: " ";
    }
    
    .cols{
        position: relative;
        min-height: 1px;
        padding-right: .2rem;
        padding-left: .2rem;
    }

    &> div.cols{
        display: block;
        padding: .2rem;
        width: 100%;

        .card{
            display: inline-block;
            width: 100%;
        }
    }

    &:after{
        clear: both;
    }
}

.infinite-loading {
    background-image: url('../img/loader-light-blue.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
}

.imgs-grid {
    max-width: 100%;
    margin: 0 auto;
    font-size: 0;
    &.imgs-grid-1{
        .imgs-grid-image {
            width: 100%;
            text-align: center;
        }
    }

    &.imgs-grid-2 {
        .imgs-grid-image{
            width: 50%;
        }
    }

    .imgs-grid-image {
        position: relative;
        display: inline-block;
        padding: 1px;
        box-sizing: border-box;
        text-align: center;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            background-color: #f0f0f0;
        }

        &:hover {
            cursor: pointer;
        }

        .image-wrap {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            img {
                position: relative;
                width: 100%;
                height: auto;
                margin: 0;
            }

            .view-all {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;

                &:before {
                    display: inline-block;
                    content: "";
                    vertical-align: middle;
                    height: 100%;
                }

                &:hover {
                    cursor: pointer;
                }

                .view-all-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    opacity: 0.4;
                }

                .view-all-text {
                    position: relative;
                    font-size: 16px;
                    font-family: sans-serif;
                    color: white;
                }
            }
        }
    }

}

.imgs-grid.imgs-grid-3 .imgs-grid-image:nth-child(1),
.imgs-grid.imgs-grid-4 .imgs-grid-image:nth-child(1),
.imgs-grid.imgs-grid-5 .imgs-grid-image:nth-child(1){
  width: 100%;
}

/*image 3*/
.imgs-grid.imgs-grid-3 .imgs-grid-image:nth-child(2),
.imgs-grid.imgs-grid-3 .imgs-grid-image:nth-child(3){
  width: 50%;
}

/*image 4*/
.imgs-grid.imgs-grid-4 .imgs-grid-image:nth-child(2),
.imgs-grid.imgs-grid-4 .imgs-grid-image:nth-child(3),
.imgs-grid.imgs-grid-4 .imgs-grid-image:nth-child(4) {
  width: 33.333333333333333%;
}

/*image 5*/
.imgs-grid.imgs-grid-5 .imgs-grid-image:nth-child(2),
.imgs-grid.imgs-grid-5 .imgs-grid-image:nth-child(3),
.imgs-grid.imgs-grid-5 .imgs-grid-image:nth-child(4),
.imgs-grid.imgs-grid-5 .imgs-grid-image:nth-child(5) {
  width: 25%;
}


.imgs-grid .imgs-grid-image .view-all:hover .view-all-text {
  text-decoration: underline;
}

@media (max-width: 350px) {
  .imgs-grid .imgs-grid-image .view-all .view-all-text {
    font-size: 10px;
  }
}
.imgs-grid-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.imgs-grid-modal .modal-caption {
  padding: 30px 50px;
  text-align: center;
  color: white;
}
.imgs-grid-modal .modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  /*background-image: url(img/imgs-grid-icons.png);*/
  background-repeat: no-repeat;
  background-position: -100px;
}
.imgs-grid-modal .modal-close:hover {
  cursor: pointer;
}
.imgs-grid-modal .modal-inner {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}
.imgs-grid-modal .modal-inner .modal-control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
}
.imgs-grid-modal .modal-inner .modal-control:hover {
  cursor: pointer;
}
.imgs-grid-modal .modal-inner .modal-control.left {
  left: 0;
}
.imgs-grid-modal .modal-inner .modal-control.right {
  right: 0;
}
.imgs-grid-modal .modal-inner .modal-control .arrow {
  margin: 0 auto;
  height: 100%;
  width: 40px;
  background-repeat: no-repeat;
  /*background-image: url(img/imgs-grid-icons.png);*/
}
.imgs-grid-modal .modal-inner .modal-control .arrow.left {
  background-position: 2px center;
}
.imgs-grid-modal .modal-inner .modal-control .arrow.right {
  background-position: -42px center;
}
.imgs-grid-modal .modal-inner .modal-image {
  position: absolute;
  top: 0;
  left: 70px;
  right: 70px;
  bottom: 0;
  text-align: center;
}
.imgs-grid-modal .modal-inner .modal-image:before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 100%;
}
.imgs-grid-modal .modal-inner .modal-image img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.imgs-grid-modal .modal-inner .modal-image img:hover {
  cursor: pointer;
}
.imgs-grid-modal .modal-inner .modal-loader {
  display: inline-block;
  vertical-align: middle;
  color: silver;
  font-size: 14px;
}
@media (max-width: 800px) {
  .imgs-grid-modal .modal-inner .modal-control {
    width: 40px;
  }
  .imgs-grid-modal .modal-inner .modal-control .arrow {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  .imgs-grid-modal .modal-inner .modal-image {
    left: 0;
    right: 0;
  }
}
.imgs-grid-modal .modal-indicator {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  text-align: center;
}
.imgs-grid-modal .modal-indicator ul {
  margin: 0;
  padding: 0;
}
.imgs-grid-modal .modal-indicator ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 0 1px;
  vertical-align: middle;
}
.imgs-grid-modal .modal-indicator ul li:hover {
  cursor: pointer;
}
.imgs-grid-modal .modal-indicator ul li.selected {
  background-color: white;
  width: 14px;
  height: 14px;
  margin: 0;
}


.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-100{
    width: 100%;
}

.w-15px{
    width: 15px;
}
.w-35px{
    width: 35px;
}
.w-40px{
    width: 40px;
}
.w-50px{
    width: 50px;
}
.w-55px{
    width: 55px;
}
.w-65px{
    width: 65px;
}
.w-70px{
    width: 70px;
}
.w-90px{
    width: 90px;
}
.w-95px{
    width: 95px;
}
.w-110px{
    width: 110px;
}
.w-115px{
    width: 115px;
}
.w-125px{
    width: 125px;
}

.w-130px{
    width: 130px;
}
.w-135px{
    width: 135px;
}

.w-145px{
    width: 145px;
}

.w-150px{
    width: 150px;
}

.w-175px{
    width: 175px;
}

.w-180px{
    width: 180px;
}

.w-185px{
    width: 185px;
}

.w-200px{
    width: 200px;
}

.w-230px{
    width: 230px;
}

.w-235px{
    width: 235px;
}

.w-250px{
    width: 250px;
}

.w-285px{
    width: 285px;
}

.w-400px{
    width: 400px;
}

.w-45vw{
    width: 45vw;
}


.h-100{
    height: 100%;
}

.h-320px{
    height: 320px;
}

.va-b{
    vertical-align: bottom;
}

.va-m{
    vertical-align: middle;
}

.tab-content{
    .tab-content-data{
        display: none;
        &.active{
            display: block;
            animation: fadeIn 1s;
        }
    }
}

.progressbar {
    counter-reset: step;
    li {
        list-style-type: none;
        width: 33.33333333333%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;

        &:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 28px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }

        &:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        &:first-child{
            &:after {
                content: none;
            }
        }

        &.active {
            color: green;

            &:before {
                border-color: #55b776;
            }
        }
    }

    &:after{
        content: '';
        clear: both;
        display: table;
    }
}

.progressbar li.active + li:after {
  background-color: #55b776;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.box{
    border: 2px solid #000;
    border-top: 0;

    .input-custom {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 0px;

        &:focus{
            outline: none;
            box-shadow: none;
        }
        &:-internal-autofill-selected {
            background-color: transparent !important;
        }
    }


    /* application form */

    .box-header{
        display: block;
        width: auto;
        border-bottom: 2px solid #000;

        .box-left,
        .box-right,
        .box-after,
        .box-middle{
            display: block;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .box-left{
            width: 80px;
            border-right: 2px solid #000;
            text-align: center;
        }

        .box-right,
        .box-middle,
        .box-after{
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
        }

        .box-middle{
            width: calc(100% - (80px + 280px))
        }

        .box-after{
            width: 280px;
            border-left: 2px solid #000;
        }

        &:after{
            display: table;
            content: "";
            clear: both;
        }
    }

    .box-body{
        padding: 5px;

        &.no-padding{
            padding: 0;

            .table-bordered{
                border-width: 0px;
                .d-table-cell{
                    border: 1px solid #dee2e6;
                    padding: 5px;
                }
            }

            .no-border{
                border-width: 0;
                .d-table-cell{
                    border-width: 0;
                    padding: 0;
                }
            }
        }
    }

    &.border-top{
        border-top: 2px solid #000 !important;
    }
}

.photo-frame{
    margin: 0 0 0 auto;
    border: 2px solid #000;
    height: 5cm;
    width: 4cm;

    .photo-content{
        width: 100%;
        height: inherit;
        text-align: center;
    }
}

.note-detail{
    font-size: 12px;
}

.notes {
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 5px, transparent 5px),
        linear-gradient(to left, white 5px, transparent 5px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 5px;
    border: none;

    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.form-check-inline .form-check-input{
    margin-top: -.3rem;
}
.form-check-input{
    margin-top: .1rem;
}

.invalid-element{
    &.open{
        .invalid-feedback{
            display: block;
        }
    }
}


.view-detail{
    width: 450px;
    margin: 0 auto;
    cursor: default;
}

.pagination{
    margin-bottom: 0;
}

footer{
	color: #fff !important;

	.footer{
		background: #444;
	}

    .col-md-4{
        h3{
            font-size: 20px;
        }

        p{
            color: #fff !important;
        }
    }

    .no-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .no-list li a{
        color: #fff !important;
        text-decoration: none;
    }

    .no-list li a:hover{
        color: #ededed;
    }

    a.created-by{
        color: #fff;
        font-weight: bold;
    }
}

.photo-cover{
    position: relative;
    width: 200px;
    height: 200px;

    .photo-profile,
    .video-file{
        border: 1px solid #ededed;
        z-index: 1;
        height: inherit;
        width: inherit;
        overflow: hidden;
        cursor: pointer;
    }

    .photo-profile div,
    .video-file div{
        width: inherit;
        height: inherit;
        display: table-cell;
        vertical-align: middle;
    }

    .photo-tooltip{
        text-align: center;
        font-size: 65%;
        color: #a29e9e;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        z-index: 3;
        border: 1px solid #ededed;
        background: #fff;
        width: 80%;
        margin: 0 auto;
    }

    .photo-remove{
        position: absolute;
        top: -10px;
        right: -10px;
        content: "x";
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        border-radius: 16px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        z-index: 2;
        line-height: 16px;
        font-size: 15px;
        cursor: pointer;
        background-color: #fff;
    }

    .photo-profile img{
        width: 100%;
    }
}

.photo-cover.zoom{
    width: 100%;
    height: 500px;
}

.photo-cover:before,
.video-cover:before{
    position: absolute;
    font: normal normal normal 25px/1 FontAwesome;
    content: "\f03e";
    text-align: center;
    top: 45%;
    left: 0;
    right: 0;
    width: 27px;
    color: #ccc;
    margin: 0 auto;
    z-index: 0;
}


#modalPopup{
    .modal-dialog{
        max-width: 80% !important;

        .close{
            float: initial;
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 10000;
        }
    }
}

.modal-data{
    .carousel-inner{
        display: table;
        width: 100%;
        height: 410px;
        max-height: 410px;
        .carousel-item{
            &.active{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                height: inherit;
            }
            img{
                max-width: 100%;
            }
        }
    }

    .carousel-indicators {
        bottom: -35px;
        margin: 0 auto;
        .active{
            background-color: #c90818;
        }
        li{
            text-align: center;
            background-color: initial;
            height: 12px;
            text-indent: initial;
            cursor: pointer;
            background: #0a8dd2;
            color: #fff;
            border-radius: 50%;
            width: 12px;
            padding: 0;
        }
    }

    .carousel-control-next, 
    .carousel-control-prev{
        width: auto;

        i.fa{
            background: #0a8dd2;
            color: #fff;
            height: 35px;
            line-height: 35px;
            width: 30px;
        }
    }

    .product{
        height: 100%;
        position: relative;

        .product-content{
            max-height: 100%;
            overflow: scroll;
        }
        
    }
}

/*select2*/
.select2-container{
    .select2-selection--single{
        height: 37px;
    }
}

.select2-container--default{
    .select2-selection--single{
        .select2-selection__rendered{
            line-height: 36px;
        }

        .select2-selection__arrow{
            top: 5px;
        }
    } 
} 
/*.title{
    border-bottom: 1px solid #ededed;
}*/

.table td, .table th{
    padding: .5rem
}

.w-50px {
    width: 50px;
}
.w-75px {
    width: 75px;
}
.w-80px {
    width: 80px;
}
.w-85px {
    width: 85px;
}
.w-90px {
    width: 90px;
}
.w-120px {
    width: 120px;
}

/**
* Modal
*/

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    width: 300px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.bg-primary{
    background-color: $light-primary;
}

.text-white{
    color: $white !important;
}

.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:visited {
    background-color: $light-primary;
    border-color: $light-primary;
}

.btn-share-fb, 
.btn-share-fb:hover, 
.btn-share-fb:active, 
.btn-share-fb:visited {
    background-color: #193a68;
    border-color: #193a68;
}

a.btn{
    color: #fff !important;
}

a.btn-link{
    color: $light-blue;
}

header,
.theme-default,
.theme-default .nivo-controlNav,
.theme-default .nivoSlider{
    background-color:#fff;
}
.title-under-line-top{
    width: 100px;
    border-top:1px solid #e52a4f;
    margin-bottom: 0px;
}
.title-under-line-bottom{
    width: 80px;
    border-top:1px solid #e52a4f;
    margin-top: 5px;
}

.card-content h3{
    color: #313131;
    font-size: 15px;
    text-transform: capitalize;
}




.special-card-wraper{
    margin-top: 60px;
}

.special-card{
    background-color: #fff;
    padding: 50px 0;
    transition-duration: 0.5s;

   
}
.special-card:hover{
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-content p {
  color: #969595;
  font-size: 13px;
}

.card-content p.caption {
  font-size: 10px;
}

.card-icon-box{
    display: inline-block;
    height: 208px;
    width: 100%;
    left: 0;
    right: 0;

    .card-icon-box-inner{
        width:100%;
        height:100%; 
        background-color:#e52a4f;
        position:relative;
        display:table;

        i{
            color: #fff;
            font-size: 35px;
        }
        i,
        .card-icon-box-inner-img {
            display: table-cell;
            vertical-align: middle;
            img{
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
        }
        &.no-bg{
            background-color:initial;
        }
    }
}


.special-card-outer{
    margin-top: 10px;
    margin-bottom: 10px;
}



.loading-layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #888;
    z-index: 100;
    opacity: .7;
}
.loading{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 101;

    .loading-table{
        display: table;
        height: inherit;
        width: 100%;

        .loading-row{
            display: table-row;

            .loading-cell{
                display: table-cell;
                height: 100%;
                width: 100%;
                vertical-align: middle;
                text-align: center;
                color: #fff;

                .loading-round{
                    width: 80px;
                    height: 80px;
                    border: 1px solid #555;
                    border-radius: 4px;
                    margin: 0 auto;
                    background: #444;
                    font-size: 10px;
                }
            }
        }
    }
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 35px;
}
.lds-ellipsis div {
  position: absolute;
  top: 25px; /*27px;*/
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ddd;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@media (min-width: 922px){
    .container{
        max-width: 95%;
    }

    .sticky-top{
        &.navbar{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 1200px){
    #features{
        .feature-box {
            .card-content{
                &:before{
                    border-left: 100px solid transparent;
                    border-top: 15px solid white;
                }

                &:after{
                    border-right: 100px solid transparent;
                    border-top: 15px solid white;
                }
            }
        }
    }
}

@media (max-width: 991px) {
  .logo-table .logo-row .logo-cell {
    font-size: 10px;
  }

  .logo-table .logo-row .logo-cell img {
    width: 120px !important;
  }

  .navbar-light .navbar-nav .btn,
  .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
  }

  .card-icon-box {
    width: 180px;
    height: 180px;
  }

  .card-icon-box .card-icon-box-inner i img,
  .card-icon-box .card-icon-box-inner .card-icon-box-inner-img img {
    width: 160px;
    height: 160px;
  }
}


@media (max-width: 765px){
    .theme-default .nivo-controlNav{
        padding: 0;
    }
    .navbar{
        padding: .5rem .2rem;
    }
    .row{
        margin-left: -.2rem;
        margin-right: -.2rem;
    }

    .container,
    [class*="col-"]{
        padding-left: .2rem;
        padding-right: .2rem;
    }

    main{
        margin-top: 59px;
    }

    .pb-xs-4, .py-xs-4 {
        padding-bottom: .2rem!important;
    }
    .pt-xs-4, .py-xs-4 {
        padding-top: .2rem!important;
    }

    .mt-3, .my-3 {
        margin-top: 1rem!important;
    }

    .mt-xs-3, .my-xs-3,
    .mt-xs-4, .my-xs-4 {
        margin-top: .2rem!important;
    }

    .mb-xs-3, .my-xs-3,
    .mb-xs-4, .my-xs-4 {
        margin-bottom: .2rem!important;
    }

    #navbarSupportedContent{
        .navbar-nav{
            .w-45vw{
                width: 100%;
                margin-top: .25rem;
                margin-bottom: .25rem;
            }

            .dropdown-menu{
                position: absolute;
                top: inherit;
            }
        }

        .menu-auth{
            li{
                padding: 0;
                a{
                    background-color: initial !important;
                    border-width: 0;
                    color: #0c4ca2 !important;
                    padding: .25rem 0;
                    display: block;
                    text-align: left;
                }
            }
        }

        .top-search{
            &.input-group{
                .input-group-append{
                    .input-group-text{
                        &:first-child{
                            max-width: 165px;
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }
    }

    .navbar-custom {
        .menu-category {
            li{
                width: 100%;

                .sub-category{
                    margin-top: 0;
                    li{
                        padding-bottom: .5rem;
                        padding-top: .5rem;

                        &:last-child{
                            padding-bottom: .5rem;
                        }
                    }
                }
            }
        }
    }

    #modalPopup {
        .modal-dialog {
            max-width: 100% !important;
        }
    }

    #features{
        .feature-box {
            .card-content{
                &:before{
                    border-left: 75px solid transparent;
                    border-top: 10px solid white;
                }

                &:after{
                    border-right: 75px solid transparent;
                    border-top: 10px solid white;
                }
            }
        }
    }
}


@media (min-width: 576px){
    .modal-dialog {
        max-width: 60%;
    }
}
